@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply rounded-full border border-stone-200 bg-sky-100 px-3 py-1 text-base text-stone-900 transition-all duration-300 focus:outline-none focus:ring focus:ring-sky-700;
  }

  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Bold.woff2') format('woff2');

    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Black.woff2') format('woff2');

    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Medium.woff2') format('woff2');

    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url('./fonts/Vazir-Thin.woff2') format('woff2');

    font-weight: 100;
    font-style: normal;
  }
}
